body { overflow-y: scroll; }

.pull-right { float: right!important;}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

label.error { font-weight: normal;color: red;font-size: 11px;margin: 0;font-weight: 600; }

.form-control {
    border: 1px solid #d9ddec;
    border-radius: 0.25rem !important;
    padding: 0px 10px !important;
    height: 30px;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    
}

.form-group {
    margin-bottom: 0.2rem;
}
